// animation

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: #bf641f;
    }

    100% {
        opacity: 1;
        background-color: transparent;
    }
}



.fade-left {
    animation: fadeLeft 0.5s;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
        background-color: #bf641f;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        background-color: transparent;
    }
}