@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
// $body-font-family: 'Merienda', cursive;


@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$body-font-family: 'Tinos',
serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$heading-font-family: 'Dancing Script',
cursive;

#app {
    font-family: $body-font-family;
}

#app-bar {
    font-family: $body-font-family !important;
}

.appBarMenuItem {
    font-family: $body-font-family !important;
    font-weight: 700;
    font-size: 1.1rem !important;

    // for anchor tag 
    a {
        color: white;
    }
}

.defaultFont {
    font-family: $body-font-family !important;
}

.appFooter {
    font-family: $body-font-family !important;

    a {
        color: white;
        font-family: $body-font-family !important;
    }
}

.v-btn {
    font-family: $body-font-family !important;
    font-weight: 700;
}

.sectionTitle {
    font-family: $body-font-family !important;
    font-weight: 700;
    font-size: 2.8rem;
    color: #BF641F;
}

.sectionSubtitle {
    font-family: $body-font-family !important;
    font-weight: 700;
    font-size: 2rem;

}

.visionMissionTitle {
    font-family: $body-font-family !important;
    font-weight: 700;
    font-size: 2rem;
    color: #09341C;

    // add under to the div and align it to center
    &::after {
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background-color: #09341C;
        margin: 10px auto;
    }
}